<h1>Dashboard</h1>
<div class="p-d-flex p-flex-wrap p-jc-md-between p-jc-sm-center">
    <article class="p-shadow-4 card-item p-lg-3 p-sm-6 p-mx-2 p-mb-5">
        <div class="p-grid p-p-4 p-justify-even p-align-center">
            <div class="p-col-5">
                <i class="fad fa-tshirt fa-3x"></i>
            </div>
            <div class="p-col-7">
                <h3>Washed</h3>
                <p>120</p>
            </div>
        </div>
    </article>
    <article class="p-shadow-4 card-item p-lg-3 p-sm-6 p-mx-2 p-mb-5">
        <div class="p-grid p-p-4 p-justify-even p-align-center">
            <div class="p-col-5">
                <i class="fad fa-users-crown fa-3x"></i>
            </div>
            <div class="p-col-7">
                <h3>Customers</h3>
                <p>1200</p>
            </div>
        </div>
    </article>
    <article class="p-shadow-4 card-item p-lg-3 p-sm-6 p-mx-2 p-mb-5">
        <div class="p-grid p-p-4 p-justify-even p-align-center">
            <div class="p-col-5">
                <i class="fad fa-user-tag fa-3x"></i>
            </div>
            <div class="p-col-7">
                <h3>Members</h3>
                <p>200</p>
            </div>
        </div>
    </article>
    <article class="p-shadow-4 card-item p-lg-3 p-sm-6 p-mx-2 p-mb-5">
        <div class="p-grid p-p-4 p-justify-even p-align-center">
            <div class="p-col-5">
                <i class="fad fa-hand-holding-usd fa-3x"></i>
            </div>
            <div class="p-col-7">
                <h3>Income</h3>
                <p>Rp 1200000</p>
            </div>
        </div>
    </article>
    <article class="p-shadow-4 card-item p-lg-3 p-sm-6 p-mx-2 p-mb-5">
        <div class="p-grid p-p-4 p-justify-even p-align-center">
            <div class="p-col-5">
                <i class="fad fa-receipt fa-3x"></i>
            </div>
            <div class="p-col-7">
                <h3>Transaction</h3>
                <p>80</p>
            </div>
        </div>
    </article>
    <article class="p-shadow-4 card-item p-lg-3 p-sm-6 p-mx-2 p-mb-5">
        <div class="p-grid p-p-4 p-justify-even p-align-center">
            <div class="p-col-5">
                <i class="fad fa-adjust fa-3x"></i>
            </div>
            <div class="p-col-7">
                <h3>Returned</h3>
                <p>40</p>
            </div>
        </div>
    </article>
</div>