<div class="p-fluid p-grid p-justify-center p-align-center m-100vh">
    <div class="p-lg-4 p-md-6 p-sm-12 p-p-6 p-m-6 p-shadow-10">
        <div class="p-grid p-justify-center p-py-3">
            <div class="p-col-12 p-text-center">
                <i class="fad fa-washer fa-5x p-text-center"></i>
                <h1 class="mt-4">Laundry</h1>
            </div>
        </div>
        <div class="p-field">
            <label for="username">Username</label>
            <input id="username" type="text" pInputText>
        </div>
        <div class="p-field">
            <label for="password">Password</label>
            <input id="password" type="password" pInputText>
        </div>
        <div class="p-grid p-justify-end">
            <div class="p-col-3">
                <button pButton type="button" label="Login" (click)="login()"></button>
            </div>
        </div>
    </div>
</div>